{% extends 'base.html' %}
{% block content %}

<div class="container">
<article>
	<q>
		<b>Mixing my knowledge with my favourite sport</b>
	</q>
	<br><br>
		<p>
			This was my motivation to create this website.
		</p>
		<p>
			I read many football articles from different sources but my favourite source is AllFootball App.<br>
			So all the credits of the articles from this site goes to AllFootball App.
		</p>
		<p>
			This website focuses on 3 main features:
		</p>
		<ul>
				<li>
					<b>Hot Topic</b>
					<div class="container">
						Consists of current and trending topics.
					</div>
				</li>
				<li>
					<b>Official</b>
					<div class="container">
						Official and Confirmed news related to transfers, player's current status, Club news etc...
					</div>
				</li>
				<li>
					<b>Transfers</b>
					<div class="container">
						Articles related to player's transfer which can be Official or rumour.
					</div>
				</li>
		</ul>

</article>
</div>
{% endblock %}