{% extends 'base.html' %}
{% block content %}
<script>
	document.getElementById("c4").className = 'btn btn-link btn-sm'
	document.getElementById("c4").style.background = '#ffffff' 
</script>
<div class="container">
<article class="text-justify">
		<h4>
			<q><b>Mixing my knowledge with my favourite sport</b></q>
		</h4>
	<br>
		<p>
			This was my motivation to create this website.
		</p>
		<p>
			I read many football articles from different sources but my favourite source is AllFootball App.<br>
			So all the credits of the articles from this site goes to AllFootball App.
		</p>
		<p>
			This website focuses on 3 main features:
		</p>
		<ul>
				<li>
					<b>Hot Topic</b>
					<div class="container">
						Consists of current and trending topics.
					</div>
				</li>
				<li>
					<b>Official</b>
					<div class="container">
						Official and Confirmed news related to transfers, player's current status, Club news etc...
					</div>
				</li>
				<li>
					<b>Transfers</b>
					<div class="container">
						Articles related to player's transfer which can be Official or rumour.
					</div>
				</li>
		</ul>
</article>

<footer class="container">
	<h4 class="text-justify"><b>Social Media and Contacts</b></h4>
	<a href="https://www.instagram.com/coding_vs_programming/" class="btn btn-link"><span class="fa fa-instagram"></span></a>

	<a href=" https://github.com/NaNdalal-dev" class="btn btn-link"><span class="fa fa-github"></span></a>
	<a href="https://www.youtube.com/channel/UCa7WJu7_ztmDhA0YeBQzrpg" class="btn btn-link"><span class="fa fa-youtube"></span></a>
	<a href="https://twitter.com/Nandalal7896" class="btn btn-link"><span class="fa fa-twitter"></span></a>
	<a href=" https://www.linkedin.com/in/nandalala-dintakurthi-6327ba195/" class="btn btn-link"><span class="fa fa-linkedin"></span></a>
	<a href="mailto:nd90981@gmail.com" class="btn btn-link"><span class="fa fa-envelope"></span></a>

</footer>
</div>
{% endblock %}