<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Article</title>
	{% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel = "icon" href = "/static/admin/img/logo.jpg"
        type = "image/x-icon">
   <meta property="og:title" content="{{data.Title}}" />  
   <meta property="og:image" content="{{data.Thumbnail}}" />  
   <meta property="og:url" content="{{path}}" /> 
  <style>
 .fa {
  font-size: 30px;
  width: 50px;
  margin: 5px 2px;
}
  </style>
</head>
<body>

<header>
	<table class="table table-stripe">
		<thead class="thead-dark">
		<tr>
			<th scope="col">
				<a href="{% url 'hottop' %}"><input type="button" id='c1' class="btn btn-primary btn-sm" value="Hot Topic"/>
				</a>
			</th>
		
			<th scope="col">
				<a href="{% url 'official' %}"><input type="button" id='c2' class="btn btn-primary btn-sm" value="Official"></a>
			</th>

			<th scope="col">
				<a href="{% url 'transfers' %}">
					<input type="button" id='c3' class="btn btn-primary btn-sm" value="Transfers">
				</a>
			</th>
			<th scope="col">
				<a href="{% url 'about' %}"><input type="button" id='c4' class="btn btn-primary btn-sm" value="About"></a>
			</th>
		</tr>
		</thead>
	</table>
</header>
{% block content %}

{% endblock %}
</body>
</html>