{% extends 'base.html' %}
{% block content %}

<div class="container">

	<table>
		<tr>
			<td scope="row">
				<img src="{{data.Thumbnail.url}}"  class="img-fluid" width="200" height="150"/>
			</td>
			<td>
				<div class="container">
				<header>
					<h4 class="text text-secondary text-justify">{{ data.Title }}</h4>
				</header>
				</div>
				<br>
				<div class="container">
				<small class="text text-muted text-justify">{{ data.Date }} / {{ data.Author }}</small>	
				</div>		
			</td>
		</tr>
	</table>
</div>
<br>
<div class="container">
	<article >
	<p class="text-justify">
		{% for data in data.Article %}
		{{ data }}<br><br>
		{% endfor %}
	</p>
	</article>
</div>
<hr>


{% endblock %}