{% extends 'base.html' %}
{% block content %}
{% if c %}
	<script>
	document.getElementById("{{c}}").className = 'btn btn-link btn-sm'
	document.getElementById("{{c}}").style.background = '#ffffff' 
	</script>
{% endif %}

<div class="container border border-success">

	<table class="table">
		<tr>
			<td scope="row">
				<div class="container-fluid">
					<img src="{{data.Thumbnail}}" class="rounded mx-auto d-block  img-thumbnail" width="285" height="210" />
				</div>
			</td>
			<td>
				<div class="container">
				<header>
					<h4 class="text text-secondary text-justify">{{ data.Title }}</h4>
				</header>
				</div>
				<br>
				<div class="container">
				<small class="text text-muted text-justify">{{ data.Date }} / {{ data.Author }}</small>	
				</div>		
			</td>
		</tr>
	</table>
<div class="container">
	<article>
	{% if data.id < 39 %}
	<p class="text-justify">
		{% for data in data.Article %}
			{% if data != '\r' %}
				{{ data }}<br><br>
			{% endif %}
		{% endfor %}
	</p>
	{% else %}
	<p class="text-justify">
		{% for data in data.Article %}
			{% if data != '\r' %}
				{{ data }}<br>
			{% endif %}
		{% endfor %}
	</p>
	{% endif %}

	</article>
</div>
</div>
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light">
		<h3 class="text-justify text-success">Share</h3>
		<a href="http://twitter.com/share?text={{data.Title}}&url={{path}}" class="btn btn-link"><span class="fa fa-twitter"></span></a>
		<a href="mailto:?subject={{data.Title}}&body={{path}}" class="btn btn-link"><span class="fa fa-envelope"></span></a>
		<a href="https://api.whatsapp.com/send?phone=&text={{data.Title}}|Link: {{path}}" class="btn btn-link"><span class="fa fa-whatsapp"></span></a>
	</nav>
</div>
<div class="container">
	<a href="mailto:nd90981@gmail.com?subject=Report on:{{data.Title}}|{{data.id}}" target="_blank" class="btn btn-link">
		<h5 class="text-justify text-danger far fa-envelope">Report This Article</h5>
		<h5 class="text-justify text-danger fas fa-exclamation-triangle"></h5>
	</a>
	<br>
</div>
<br>
<hr>

<footer>
	<div class="container">
		<h5 class="text text-muted text-justify fas fa-copyright">AllFootball App</h5>
	</div>

</footer>
{% endblock %}