{% extends 'base.html' %}
{% block content %}
{% if c %}
	<script>
	document.getElementById("{{c}}").className = 'btn btn-link btn-sm'
	document.getElementById("{{c}}").style.background = '#ffffff' 
	</script>
{% endif %}
<div class="container border border-success">

	<table class="table">
		<tr>
			<td scope="row">
				<div class="container-fluid">
					<img src="{{data.Thumbnail.url}}" class="rounded mx-auto d-block  img-thumbnail" width="285" height="210" />
				</div>
			</td>
			<td>
				<div class="container">
				<header>
					<h4 class="text text-secondary text-justify">{{ data.Title }}</h4>
				</header>
				</div>
				<br>
				<div class="container">
				<small class="text text-muted text-justify">{{ data.Date }} / {{ data.Author }}</small>	
				</div>		
			</td>
		</tr>
	</table>
<div class="container">
	<article>
	<p class="text-justify">
		{% for data in data.Article %}
			{% if data != '\r' %}
				{{ data }}<br><br>
			{% endif %}
		{% endfor %}
	</p>
	</article>
</div>
</div>
<div class="container">
	<h3 class="text-justify text-info">Share</h3>
	<a href="#" class="btn btn-link"><span class="fa fa-twitter"></span></a>
	<a href="mailto:" class="btn btn-link"><span class="fa fa-envelope"></span></a>
	<a href="#" class="btn btn-link"><span class="fa fa-whatsapp"></span></a>
	<a href="#" class="btn btn-link"><span class="fa fa-facebook"></span></a>
</div>
<div class="container">
	<a href="mailto:nd90981@gmail.com?subject=Report on:{{data.Title}}|{{data.id}}" target="_blank" class="btn btn-link">
		<h5 class="text-justify text-danger far fa-envelope">Report an issue</h5>
		<h5 class="text-justify text-danger fas fa-exclamation-triangle"></h5>
	</a>
	<br>
	    <span onclick="window.print()" class="btn btn-info btn-sm fa fa-print">
	    </span>
</div>
<br>
<hr>

<footer>
	<div class="container">
		<h5 class="text text-muted text-justify fas fa-copyright">AllFootball App</h5>
	</div>

</footer>
{% endblock %}