{% extends 'base.html' %}
{% block content %}
<script>
	document.getElementById("c2").className = 'btn btn-link btn-sm'
	document.getElementById("c2").style.background = '#ffffff' 
</script>
{% for data in allData %} 
<div class="container">

	<table class="card card-body bg-light">
		<tr>
			<td scope="row">
				<img src="{{data.Thumbnail}}" class="rounded mx-auto d-block  img-thumbnail" width="285" height="210" />
			</td>
			<td>
				<div class="container">
					<a href="{%url 'OfficialWhole' data.id%}" class="btn btn-link">
						<h5 class="text-jusify">
							{{ data.Title }}
						</h5>
					</a>
				</div>
				<br>
				<div class="container">
				<small class="text text-muted">{{ data.Date }} / {{ data.Author }}</small>	
				</div>		
			</td>
		</tr>
	</table>
</div>
{% endfor %}
{% endblock %}